body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #333;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 10px;
}

.NavBar-liste a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px 10px;
    transition: background-color 0.3s, box-shadow 0.3s, filter 0.3s;
}

.NavBar-liste a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    filter: blur(0.4px);
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.app {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 15px;
    padding: 20px;
    text-align: center;
}

.app img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 20px;
}

.bouton-voir-plus {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.bouton-voir-plus:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.hr-1 {
    border: none;
    height: 2px;
    background-color: black;
    width: 100%;
    max-width: 500px;
    margin: 30px auto 30px; 
}

.hr-2 {
    border: none;
    height: 2px;
    background-color: black;
    max-width: 300px;
    margin: 30px auto 30px;
}

::-webkit-scrollbar {
    display: none;
}
